/* src/App.css */

.App {
  text-align: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  width: 200px;
}

.product img {
  max-width: 100%;
  height: auto;
}
